<a href="https://colab.research.google.com/github/Rick1310/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Ricky_Chance/ttests/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- ~~Fix the column headers~~
- ~~Make sure NaNs are used to indicate missing values~~

Feel free to add code cells and text cells as needed throughout the assignment.

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from scipy import stats

column_headers = ['Symboling',
                  'Normalized-losses', 
                  'Make',
                  'Fuel Type',
                  'Aspiration',
                  'Num-Of-Doors',
                  'Body-Style',
                  'Drive-Wheels',
                  'Engine-Location',
                  'Wheel-Base',
                  'Length',
                  'Width',
                  'Height',
                  'Curb-weight',
                  'Engine-Type',
                  'Num-Of-Cylinders',
                  'Engine-Size',
                  'Fuel-System',
                  'Bore',
                  'Stroke',
                  'Compression-Ratio',
                  'Horsepower',
                  'Peak-RPM',
                  'City-MPG',
                  'Highway-MPG',
                  'Price'
                  ]

pd.set_option('display.float_format', lambda x: '%.5f' % x)
                

auto_url = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data', names=column_headers)

auto_df = auto_url

print(auto_df.shape)
auto_df.head()

(205, 26)

   Symboling Normalized-losses         Make  ... City-MPG Highway-MPG  Price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [2]:
auto_df = auto_df.replace('?', np.NaN)

auto_df

     Symboling Normalized-losses         Make  ... City-MPG Highway-MPG  Price
0            3               NaN  alfa-romero  ...       21          27  13495
1            3               NaN  alfa-romero  ...       21          27  16500
2            1               NaN  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [3]:
### YOUR WORK HERE

auto_df_sample = auto_df.sample(20, random_state=30)
auto_df

     Symboling Normalized-losses         Make  ... City-MPG Highway-MPG  Price
0            3               NaN  alfa-romero  ...       21          27  13495
1            3               NaN  alfa-romero  ...       21          27  16500
2            1               NaN  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]

In [4]:
auto_df['Highway-MPG'].mean()

30.75121951219512

In [5]:
auto_df_sample['Highway-MPG'].mean()

33.45

The sample is **not** reflective of the population value in regards to highway-mpg. The sample mean is much higher because it is much smaller than the population.

In [6]:
stats.ttest_1samp(auto_df['Highway-MPG'], .05)

Ttest_1sampResult(statistic=63.83187358723746, pvalue=8.862423699126691e-137)

In [7]:
stats.ttest_1samp(auto_df_sample['Highway-MPG'], .05)

Ttest_1sampResult(statistic=20.76694207894949, pvalue=1.6051288478122883e-14)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [8]:
auto_df_sample_10 = auto_df.sample(10, random_state=30)
auto_df_sample_10

     Symboling Normalized-losses           Make  ... City-MPG Highway-MPG  Price
121          1               154       plymouth  ...       31          38   6692
176         -1                65         toyota  ...       27          32  10898
24           1               148          dodge  ...       31          38   6229
88          -1               137     mitsubishi  ...       23          30   9279
72           3               142  mercedes-benz  ...       16          18  35056
103          0               108         nissan  ...       19          25  13499
26           1               148          dodge  ...       31          38   7609
20           0                81      chevrolet  ...       38          43   6575
155          0                91         toyota  ...       27          32   8778
185          2                94     volkswagen  ...       27          34   8195

[10 rows x 26 columns]

In [9]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

stats.ttest_1samp(auto_df_sample_10['Highway-MPG'], .05)

Ttest_1sampResult(statistic=14.246613293271025, pvalue=1.763428876427149e-07)

Given a t-statistic of 14.05085 and a pvalue of 1.98756, I **fail** to reject the null hypothesis being the vehicles sampled get 35mpg highway.

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [10]:
auto_df_sample_100 = auto_df.sample(100, random_state=30)
auto_df_sample_100

     Symboling Normalized-losses           Make  ... City-MPG Highway-MPG  Price
121          1               154       plymouth  ...       31          38   6692
176         -1                65         toyota  ...       27          32  10898
24           1               148          dodge  ...       31          38   6229
88          -1               137     mitsubishi  ...       23          30   9279
72           3               142  mercedes-benz  ...       16          18  35056
..         ...               ...            ...  ...      ...         ...    ...
189          3               NaN     volkswagen  ...       24          29  11595
192          0               NaN     volkswagen  ...       33          38  13845
171          2               134         toyota  ...       24          30  11549
203         -1                95          volvo  ...       26          27  22470
47           0               145         jaguar  ...       15          19  32250

[100 rows x 26 columns]

In [11]:
stats.ttest_1samp(auto_df_sample_100['Highway-MPG'], .05, nan_policy='omit')

Ttest_1sampResult(statistic=45.734324932718316, pvalue=2.1809947925859347e-68)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

The two t-tests using the same dataset, but different sample sizes lead to different conclusions because the total sizes are much different.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [12]:
# Here we create the column headers.

column_headers_2 = ['Class Name',
                  'Handicapped-Infants',
                  'Water-Project-Cost-Sharing',
                  'Adoption-Of-The-Budget-Resolution',
                  'Physician-Fee-Freeze',
                  'El-Salvador-Aid',
                  'Religious-Groups-In-Schools',
                  'Anti-Satellite-Test-Ban',
                  'Aid-To-Nicaraguan-Contras',
                  'MX-Missile',
                  'Immigration',
                  'Synfuels-Corporation-Cutback',
                  'Education-Spending',
                  'Superfund-Right-To-Sue',
                  'Crime',
                  'Duty-Free-Exports',
                  'Export-Administration-Act-South-Africa'
                  ]
          
# Here we read in the dataset, including the above created column headers. 
congress_data_url = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names=column_headers_2)

congress_df = congress_data_url

print(congress_df.shape)
congress_df.head()

(435, 17)

   Class Name  ... Export-Administration-Act-South-Africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [13]:
congress_df.dtypes

Class Name                                object
Handicapped-Infants                       object
Water-Project-Cost-Sharing                object
Adoption-Of-The-Budget-Resolution         object
Physician-Fee-Freeze                      object
El-Salvador-Aid                           object
Religious-Groups-In-Schools               object
Anti-Satellite-Test-Ban                   object
Aid-To-Nicaraguan-Contras                 object
MX-Missile                                object
Immigration                               object
Synfuels-Corporation-Cutback              object
Education-Spending                        object
Superfund-Right-To-Sue                    object
Crime                                     object
Duty-Free-Exports                         object
Export-Administration-Act-South-Africa    object
dtype: object

In [14]:
# Here we replace all string values (catagorical data), with ints.

congress_df = congress_df.replace({'y':1, 'n':0, "?": np.NaN})

congress_df.head()

   Class Name  ...  Export-Administration-Act-South-Africa
0  republican  ...                                 1.00000
1  republican  ...                                     nan
2    democrat  ...                                 0.00000
3    democrat  ...                                 1.00000
4    democrat  ...                                 1.00000

[5 rows x 17 columns]

In [15]:
# Here we split the dataframe into 2 new dataframes based on party. 

rep = congress_df[congress_df['Class Name']=='republican']
dem = congress_df[congress_df['Class Name']=='democrat']

In [16]:
rep.head()

    Class Name  ...  Export-Administration-Act-South-Africa
0   republican  ...                                 1.00000
1   republican  ...                                     nan
7   republican  ...                                 1.00000
8   republican  ...                                 1.00000
10  republican  ...                                 0.00000

[5 rows x 17 columns]

In [17]:
dem.head()

  Class Name  ...  Export-Administration-Act-South-Africa
2   democrat  ...                                 0.00000
3   democrat  ...                                 1.00000
4   democrat  ...                                 1.00000
5   democrat  ...                                 1.00000
6   democrat  ...                                 1.00000

[5 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

# Null Hypothesis: 

Repulicans support for "Aid to Nicaraguan Contras" bill is equal to support of "Aid to Nicaraguan Contras" bill. 

# Alternative hypothesis: 


Repulicans support for "Aid to Nicaraguan Contras" bill is **not** equal to support of "Aid to Nicaraguan Contras" bill.

In [18]:
# Here we conduct a 2 sample t test using support for the "Aid to Nicaraguan Contras" bill. 

stats.ttest_ind(dem['Aid-To-Nicaraguan-Contras'], rep['Aid-To-Nicaraguan-Contras'], nan_policy='omit')

Ttest_indResult(statistic=18.052093200819733, pvalue=2.82471841372357e-54)

# Conclusion

Based on a t-statistic of 18.0520, and a pvalue of 2.82471841372357e-54, I **fail** to reject the null hypothesis that republican support for the "Aid to Nicaraguan Contras" bill is equal to support from Democrats.

In [19]:
rep['Aid-To-Nicaraguan-Contras'].mean()

0.15286624203821655

In [20]:
dem['Aid-To-Nicaraguan-Contras'].mean()

0.8288973384030418

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

# Gasoline engines are more popular than diesel.

#1. Null Hypothesis
The number of gasoline engines is **equal** to diesel in this list. 

#2 Alternative Hypothesis
The number of gasoline engines is **not equal** to diesel in this list.

In [27]:
# Here we replace the catagorical values with ints. 

auto_df = auto_df.replace({'gas':1, 'diesel':2})

auto_df.head()

   Symboling Normalized-losses         Make  ...  City-MPG Highway-MPG  Price
0          3               NaN  alfa-romero  ...        21          27  13495
1          3               NaN  alfa-romero  ...        21          27  16500
2          1               NaN  alfa-romero  ...        19          26  16500
3          2               164         audi  ...        24          30  13950
4          2               164         audi  ...        18          22  17450

[5 rows x 26 columns]

In [32]:
# Here we create a random sampling of the fuel types represented in the automobile data set. 

auto_df_sample_fuel = auto_df['Fuel Type'].sample(30, random_state=30)

auto_df_sample_fuel.mean()

1.1333333333333333

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

# Repulican vs Democrat support for Adoption Of Budget Resolution

# 1. Null Hypothesis
Republican support is **EQUAL** to Democrat support of the "Adoption of the budget resolution" bill. 

#2. Alternative Hypothesis
Republican support is **NOT EQUAL** to Democrat support to the "Adoption of the budget resolution" bill.

In [22]:
### YOUR WORK HERE